$title: #222222;
$accent: #555555;

%dmsans-400{
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: "DMSans", sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}

%rosario-700{
  font-family: "Rosario-Bold", sans-serif;
  font-weight: 700;
}