@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"),
    url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import '_vars';
@import 'fonts';
@import '_reset';
@import '_libs';
@import '_global';
@import '_media';

.header{
  padding: 50px 0 40px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-list{
    display: flex;
    align-items: center;
  }
  &__menu-item + .header__menu-item{
    margin-left: 40px;
  }
  &__menu-link{
    line-height: 24px;
    color: $title;
  }
  &__logo{
    width: 56px;
    height: 56px;
    margin-right: 50px;
  }
  &__user-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__search,
  &__buy{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #F3FBF8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__search{
    margin-right: 20px;
  }
  &__buy{
    margin-right: 32px;
  }
  &__registration{
    padding: 13px 24px;
    background-color: #09A66D;
    color: #FFFFFF;
    line-height: 20px;
    border-radius: 8px;
  }
}

.footer{
  padding: 65px 0 125px;
  background-color: #FCFEFD;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item-info{
    width: 500px;
  }
  &__text{
    width: 350px;
    line-height: 30px;
    color: $accent;
    margin-top: 30px;
  }
  &__subtitle{
    @extend %dmsans-500;
    font-size: 24px;
    line-height: 31px;
    color: $title;
    margin: 40px 0;
  }
  &__list-link{
    text-decoration: none;
    line-height: 23px;
    color: $accent;
  }
  &__list-item + .footer__list-item{
    margin-top: 24px;
  }
  &__item-nav{
    width: 250px;
  }
  &__email{
    text-decoration: none;
    line-height: 23px;
    color: $title;
  }
  &__social{
    display: flex;
    margin-top: 25px;
  }
  &__social-link + .footer__social-link{
    margin-left: 50px;
  }
  &__item-contacts{
    width: 225px;
  }
}

.about{
  background-color: #F3FBF8;
  padding: 92px 0 50px;
  position: relative;
  z-index: 1;
  &__decor::before{
    content: "";
    position: absolute;
  }
  &__decor::before{
    top: -38px;
    left: -10px;
    background-image: url(../img/about/decor.svg);
    background-repeat: no-repeat;
    width: 612px;
    height: 408px;
  }
  &__title{
    text-align: center;
    margin-bottom: 20px;
  }
  &__subtitle{
    margin: 0 auto;
    width: 640px;
    text-align: center;
    line-height: 30px;
    color: $accent;
    margin-bottom: 40px;
  }
  &__order-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $title;
    @extend %dmsans-500;
    line-height: 30px;
  }
  &__order-arrow{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
    background-color: #09A66D;
  }
  &__box{
    display: flex;
    justify-content: space-between;
  }
  &__box-item{
    width: 250px;
    height: 116px;
    background-color: #fff;
  }
  &__box-item + .about__box-item{
    margin-top: 20px;
  }
  &__info{
    display: flex;
  }
  &__info-imgbox{
    width: 56px;
    height: 56px;
    background-color: #F3FBF8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 32px;
    border-radius: 50%;
  }
  &__info-box{
    margin: 17px 0 0 24px;
  }
  &__info-title{
    font-size: 48px;
    line-height: 48px;
    color: #000;
    text-align: center;
  }
  &__info-subtitle{
    line-height: 30px;
    color: #000;
    text-align: center;
  }
}

.service{
  padding: 140px 0 145px;
  &__title{
    margin-bottom: 20px;
  }
  &__subtitle{
    width: 640px;
    line-height: 30px;
    color: $accent;
    margin-bottom: 56px;
  }
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 160px;
    cursor: pointer;
  }
  &__item:hover{
    background-color: #F3FBF8;
    .service__item-imgbox{
      background-color: #fff;
    }
  }
  &__item + .service__item{
    margin-top: 20px;
  }
  &__arrow{
    margin-top: 10px;
  }
  &__item-imgbox{
    width: 80px;
    height: 80px;
    margin-left: 60px;
    background-color: #F3FBF8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &__item-img{
    width: 40px;
    height: 40px;
  }
  &__item-box{
    width: 278px;
    margin-left: 24px;
  }
  &__item-title{
    font-size: 20px;
    line-height: 30px;
    @extend %dmsans-700;
    margin-bottom: 8px;
  }
  &__item-subtitle{
    font-size: 14px;
    line-height: 20px;
  }
}